<div class="form-label-group">
  <%= f.label :name %><br />
  <%= f.text_field :name, id: "name", class: "form-control", placeholder: "Titulo do Vídeo", required: true %>
</div>

<div class="form-label-group">
  <%= f.label :url %><br />
  <%= f.text_field :url, id: "url", class: "form-control", placeholder: "Url com uma extensão .m3u8", required: true %>
</div><br />

<div class="form-label-group">
  <%= f.label :poster %><br />
  <%= f.text_field :poster, id: "poster", class: "form-control", placeholder: "Poster do Vídeo", required: true %>
</div><br />
